@import 'bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform: initial;

}


// stili formattazione generici

// misure del container
.my_container{
    max-width: 70%;
    margin: 0 auto;
}


// font 36px
.h_size_36{
    font-size: 36px;
}

// stile per il paragrafo del sottotilo
.p_style{
    color: #575c61
}

// stile per i tag dei vestiti
.subtitle_tag_clothes{
    color: #575c61;
    font-size: 11px;
}

// stile prezzo scontato
.price_full{
    text-decoration: line-through;
    color: #427ed1;
    font-size: 12px;
    margin-right: 10px;
}

.price_official{
    color: #427ed1;
}

// margine negativo
.neg_mb_2{
    margin-bottom: -2px;
}

// margine asse x
.my_mx{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

// margine destro
.my_mr_25{
    margin-right: 20px;
}

// colore delle stelle
.my_color_star{
    color:#427ed1;
}

// margine destro 0
.my_margin-r0{
    margin-right: 0 !important;
}

// bordo basso
.my_bb{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

// spazio tra lettere di una parola
.my_letter_spacing_5{
    letter-spacing: 5px;
}

.my_font_size-12{
    font-size: 12px;

}
    
// padding sull'asse delle y
.padding{
    padding: 80px 0;
}

// larghezze
.my_w200{
    width: 200px;
}

.my_w100{
    width: 100px;
}

.my_fs_13{
    font-size: 13px;
}

.my_h100{
    height: 100px;
}

