@import 'bootstrap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform: initial;

}

.my_container{
    max-width: 70%;
    margin: 0 auto;
}